@keyframes spin {
    0% { transform: translateX(0) rotate(0deg); }
    50% { transform: translateX(-50px) rotate(360deg); }
    75% { transform: translateX(-50px) translateY(0) rotate(0deg); }
    100% { transform: translateX(-50px) translateY(50px); }
  }
  
  .rocket-container i {
    position: absolute;
    top: 50%;
    left: 50%;
    animation: spin 2s linear;
  }
  